version:  "3.9"

services:
  backend:
    build: .
    container_name: backend
    ports:
      - "8080:8080"
    networks:
      - app_network
    restart: unless-stopped

networks:
  app_network:
    driver: bridge